

#loggInn {
    background-color: lightblue;
}

body {
    background-color: aquamarine;
}

#opprett {
    background-color: lightcoral;
    margin: 5rem;
}



/* 
form {
    display: flex;
    align-items: center ;
    justify-content: center;
    flex-direction: column;
    
} */


#serie {
    --min-col-size: 300px;
    background-color: rgb(77, 181, 54);
    display: grid;
    gap: 1rem;
    grid-template-columns: 
        repeat(auto-fit, minmax(min(var(--min-col-size), 100%), 1fr));
        /* Kevin Powell: https://www.youtube.com/watch?v=OZ6qKoq7RJU */
    margin: 1rem;
}