#visBrukere {grid-area: visBrukere;}
#serie {grid-area: serie;}
#harSett {grid-area: harSett;}
#vilSe {grid-area: vilSe;}
#serPa {grid-area: serPa;}
#anbefalt {grid-area: anbefalt;}
#venn {grid-area: venn;}
#anbefalAndre {grid-area: anbefalAndre;}


#grid {
    width: auto;
    max-height: 30rem;
    display: grid;
    gap: 0;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
    "visBrukere visBrukere visBrukere visBrukere"
    "serie serie serie  venn"
    "harSett harSett harSett  venn"
    "vilSe vilSe vilSe  venn"
    "serPa serPa serPa  venn"
    "anbefalt anbefalt anbefalt  venn"
    "anbefalAndre anbefalAndre anbefalAndre  venn";
}

#visBrukere {
    background-color: rgb(154, 26, 92);
    height: 4rem;

}


#serie, #anbefalAndre {
    background-color: rgb(26, 154, 133);
}

#harSett {
    background-color: rgb(56, 26, 154);
}

#vilSe {
    background-color: rgb(154, 26, 47);
}

#serPa {
    background-color: rgb(62, 154, 26);
}

#venn {
    background-color: rgb(154, 131, 26);
}

.serieKonteiner:hover {
    background-color: rgb(146, 146, 146);
    cursor: pointer;
}
/* 
kode noe js så når du trykker på en bnestemt
boks så får du infoen for den bestemte serien. 
*/

.serieKonteiner {
    float: left;

    background-color: rgb(226, 225, 228);
    width: 10rem;
    height: 25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0.5rem;
    border-radius: 1rem;
}

button {
    background-color: white;
    border-radius: 0.5rem;
    border: solid rgb(183, 183, 183) 0.2rem;

    margin: 0.5rem;

}